name: build and test
on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v1
        with:
          cmake-version: ${{ matrix.cmake-version }}

      - name: Configure CMake
        run: cmake -S . -B out -DBGUI_USE_OPENGL=OFF -DBGUI_USE_GLFW=OFF -DBGUI_BUILD_EXAMPLES=OFF -DBGUI_USE_FREETYPE=OFF

      - name: Build
        run: cmake --build out --config Release

      - name: Run Tests
        run: ctest --test-dir ${{github.workspace}}/out/tests --output-on-failure -C Debug
